body{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    min-height: 100vh; 
    background-color: #FFD460;
}

.outerDiv{
    background-color: #EA5455;
    height: 35rem;
    width: 35rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rowDiv{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.innerDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin: 1px;
    display: inline-block;
    color: #142850;
    background-color: #FEFFDE;
    height: 50px;
    width: 50px;
}

#buttonsDiv{
    width: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: #1E2022;
}


label{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #1E2022;
}
